<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/headerStyle.css">
    <link rel="stylesheet" href="/public/homeStyle.css">

    <link rel="shortcut icon" href="/public/images/LOGO.svg" type="image/x-icon" />
    <title>Transterra</title>
</head>
<header>
    <div class="center">
        <div class="logo">
            <a href="/"><img src="/public/images/LOGO.svg" alt=""></a>
        </div>
        <!--LOGO-->
        <div class="menu">
            <ul>

                <a href="/servicos">
                    <li>Serviços</li>
                </a>
                <a href="/maquinas">
                    <li>Maquinas</li>
                </a>
                <a href="/contato">
                    <li>Contato</li>
                </a>
            </ul>
        </div>
    </div>
    <!--CENTER-->
</header>
<!--HEADER-->

<body>
    <script>
        window.rwbp = {
            email: 'matheusmbarros01@gmail.com',
            phone: '5548991810815',
            message: 'Quero fazer um orçamento!',
            lang: 'pt-BR'
        }
    </script>
    <script defer async src='https://duz4dqsaqembt.cloudfront.net/client/whats.js'></script>


    <div class="containerPrincipal">
        <div class="first-section">
            <div class="escavadeira">
                <img src="/public/images/retroescavadeira.png" alt="">
            </div>
            <div class="bg">
                <img src="/public/images/bg.png" alt="">
            </div>
        </div>

        <div class="second-section">
            <div class="square" id="squareId"></div>
            <div class="texto">
                <p>
                    Há 48 anos atendendo no mercado da grande Florianópolis, a TRANSTERRA é uma empresa prestadora de
                    serviços de terraplanagem, escavação em geral, demolição, limpeza, aterros, desaterros, compactação,
                    nivelamento, transporte e locação de máquinas e caminhões.

                </p>
            </div>

        </div>
    </div>




    <div class="container2">
        <div class="quemSomosTexto">
            <h2>Quem somos:</h2>
            <p>

                Fundada em 1974 por Betão,a ,sediada na cidade de São José, estado de Santa Catarina,conta com uma ampla
                experiência em obras de pequeno, médio e grande porte, prestando serviços para construtoras, indústria,
                comércio, empresas do setor público, particulares, entre outros.
                Nossa empresa tem como objetivo principal a valorização do cliente, para isso, prezamos pela qualidade
                na execução dos nossos serviços, aliadas à rapidez na execução e melhores preços e prazos,
                proporcionando, assim, uma maior satisfação e economia aos nossos clientes.

            </p>
        </div>
        <!--quenSomosTexto-->

        <div class="fotoFundador">
            <img src="/public/images/fundador.png" alt="">
        </div>
        <div class="bgImage">
            <img src="/public/images/bgImage.jpeg" alt="">
        </div>

    </div>


    <footer>
        <div class="info">
            R. José Víctor da Rosa, 32 - Barreiros / (48)99982-0158 - (48)3246-0014

        </div>
        <div class="direitosReservados">
            TODOS OS DIREITOS RESERVADOS A KAFFATEC - 2023
        </div>


    </footer>

</body>