<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/headerStyle.css">
    <link rel="stylesheet" href="/public/homeStyle.css">

    <link rel="shortcut icon" href="/public/images/LOGO.svg" type="image/x-icon" />
    <title>Transterra</title>
</head>
<header>
    <div class="center">
        <div class="logo">
            <a href="/"><img src="/public/images/LOGO.svg" alt=""></a>
        </div>
        <!--LOGO-->
        <div class="menu">
            <ul>
                <a href="#">
                    <li>Sobre</li>
                </a>
                <a href="/servicos">
                    <li>Serviços</li>
                </a>
                <a href="#">
                    <li>Fotos</li>
                </a>
                <a href="#">
                    <li>Contato</li>
                </a>
            </ul>
        </div>
    </div>
    <!--CENTER-->
</header>
<!--HEADER-->

<body>]
    <script>window.rwbp={email:'matheusmbarros01@gmail.com',phone:'5548991810815',message:'Quero fazer um orçamento!',lang:'pt-BR'}</script><script defer async src='https://duz4dqsaqembt.cloudfront.net/client/whats.js'></script>
    

    <div class="containerPrincipal">
        <div class="first-section">
            <div class="escavadeira">
                <img src="/public/images/retroescavadeira.png" alt="">
            </div>
            <div class="bg">
                <img src="/public/images/bg.png" alt="">
            </div>
        </div>

        <div class="second-section">
            <div class="square" id="squareId"></div>
            <div class="texto">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>

        </div>
    </div>




    <div class="container2">
        <div class="quemSomosTexto">
            <h2>Quem somos:</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since
                the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen boo
            </p>
        </div>
        <!--quenSomosTexto-->

        <div class="fotoFundador">
            <img src="/public/images/fundador.png" alt="">
        </div>
        <div class="bgImage">
            <img src="/public/images/bgImage.jpeg" alt="">
        </div>

    </div>

</body>