<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/headerStyle.css">
    <link rel="stylesheet" href="/public/homeStyle.css">
    <link rel="stylesheet" href="/public/servicosStyle.css">


    <link rel="shortcut icon" href="/public/images/LOGO.svg" type="image/x-icon" />
    <title>Transterra</title>
</head>
<header>
    <div class="center">
        <div class="logo">
            <a href="/"><img src="/public/images/LOGO.svg" alt=""></a>
        </div>
        <!--LOGO-->
        <div class="menu">
            <ul>
                <a href="/servicos">
                    <li>Serviços</li>
                </a>
                <a href="/maquinas">
                    <li>Maquinas</li>
                </a>
                <a href="/localizacao">
                    <li>Localização</li>
                </a>
            </ul>
        </div>
        <div class="selo">    <img id="selo" src="/public/images/Selo.png" alt=""></div>

    </div>
    <!--CENTER-->
</header>
<!--HEADER-->
<script>
    window.rwbp = {
        email: 'matheusmbarros01@gmail.com',
        phone: '5548991810815',
        message: 'Quero fazer um orçamento!',
        lang: 'pt-BR'
    }
</script>
<script defer async src='https://duz4dqsaqembt.cloudfront.net/client/whats.js'></script>

<body>
    <div class="container">

        <h1>Serviços</h1>

        <div class="tresServicos">

            <div class="servicoSingle">
                <h3>Demolição</h3>
                <div class="fotoServico">
                    <img src="/public/images/gene-gallin-E6KM98Q_d4o-unsplash.jpg" alt="">
                </div>
                <div class="textoServico">
                    <p>Demolição ou desconstrução nada mais é que um processo utilizado na construção civil que visa a
                        derrubada controlada de um edifício (casas, prédios, galpões, etc) para a construção de novas
                        edificações, desconstrução de prédios com a estrutura comprometida, recuperação do espaço
                        urbano, dentre outras</p>
                </div>
            </div>
            <div class="servicoSingle">
                <h3>Escavação</h3>
                <div class="fotoServico">
                    <img src="/public/images/escavacao.jpg" alt="">
                </div>
                <div class="textoServico">
                    <p>Escavação é o ato de fazer furos e valas no terreno, servindo para a fundação que será colocada
                        na abertura. Entre o maquinário que pode ser usado para esse processo, vale apontar que a
                        miniescavadeira, a retroescavadeira ou as escavadeiras cumprem todas as propostas de escavação
                        em muito pouco tempo, com mais segurança e pouco custo.
                      </p>
                </div>
            </div>
            <div class="servicoSingle">
                <h3>Limpeza de terreno</h3>
                <div class="fotoServico">
                    <img src="/public/images/ryan-wilson-HkF6feHrGBE-unsplash.jpg" alt="">
                </div>
                <div class="textoServico">
                    <p>Limpeza de terreno é o trabalho preliminar que consiste em remover do terreno qualquer material indesejável ou que
                        atrapalhe o andamento da obra, como por exemplo, vegetação, pedregulhos, lixo, etc.</p>
                </div>
            </div>
        </div>


        <div class="tresServicos">
            <div class="servicoSingle">
                <h3>Terraplanagem </h3>
                <div class="fotoServico">
                    <img src="/public/images/abdul-zreika-maVHoAWycOs-unsplash.jpg" alt="">
                </div>
                <div class="textoServico">
                    <p>Terraplanagem é uma técnica que consiste em cortar e retirar o excesso de terra de um ambiente
                        a fim de deixar a região nivelada. Nesse método, o material retirado é, muitas vezes, utilizado
                        para cobrir outros espaços mais vazios de forma a deixar tudo plano.</p>
                </div>
            </div>
            <div class="servicoSingle">
                <h3>Drenagem </h3>
                <div class="fotoServico">
                    <img src="/public/images/jose-llamas-DjXhqwZnuYQ-unsplash.jpg" alt="">
                </div>
                <div class="textoServico">
                    <p>
                        Drenagem é a ação que tem por objetivo escoar a água que está acumulada em um terreno, deixando-o seco para receber uma construção. Ela também contribui para que a água da chuva seja drenada de forma adequada. A drenagem é realizada através de canais que, ligados entre si, formam a rede de drenagem.</p>
                </div>
            </div>
            <div class="servicoSingle">
                <h3>Aterro</h3>
                <div class="fotoServico">
                    <img src="/public/images/katie-rodriguez-qsVWEGNnIrM-unsplash.jpg" alt="">
                </div>
                <div class="textoServico">
                    <p>
                        Aterro nada mais é do que deixar o terreno em nível, utilizando principalmente a terra vermelha, pois tem um melhor rendimento na compactação do aterro.</p>
                </div>
            </div>

        </div>

        <div class="doisServicos">
            <div class="servicoSingle">
                <h3>Compactação </h3>
                <div class="fotoServico">
                    <img src="/public/images/jonny-caspari-1je5j4aN2RI-unsplash.jpg" alt="">
                </div>
                <div class="textoServico">
                    <p>Compactação do solo é um procedimento que aumenta a densidade do terreno onde será construída uma edificação. A partir disso, é possível garantir mais resistência e estabilidade para todas as etapas posteriores de um canteiro.</p>
                </div>
            </div>
            <div class="servicoSingle">
                <h3>Transporte de materiais</h3>
                <div class="fotoServico">
                    <img src="/public/images/claus-grunstaudl-1_DvZyR3dRk-unsplash.jpg" alt="">
                </div>
                <div class="textoServico">
                    <p>A diversidade de veículos utilizados faz do transporte de materiais construção civil um serviço versátil, pronto para suprir necessidades variadas, como o carregamento de sacarias, ferragens, encanamentos, chapas de aço, pedras, entre outros materiais comuns nas atividades construtivas.</p>
                </div>
            </div>

        </div>


    </div>
</body>

<footer>
    <div class="info">
        R. José Víctor da Rosa, 32 - Barreiros / (48)99982-0158 - (48)3246-0014 /   <a href="https://www.instagram.com/transterrasc/"><i class="fa fa-instagram" aria-hidden="true"><h5>@Transterrasc</h5></i></a> / <i class="fa fa-envelope-o" aria-hidden="true"><h5>transterra.sc@gmail.com</h5></i>

    </div>

    <div class="direitosReservados">
        <br>
        TODOS OS DIREITOS RESERVADOS A <a href="https://www.kaffatec.com.br/"> KAFFATEC </a> @2023
    </div>
</footer>