* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}


body {
  width: 100%;
  color: #ea5b0c;
}

.container{
  width: 100%;
  height: 100%;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.servicoSingle {
  display: inline-block;
  overflow: hidden;
  padding-left: 20px;
  width: 500px;
  background-color:#242424;
  border-radius: 30px;
  box-shadow: 10px 10px 25px rgba(255, 255, 255, 0.2);
  border: 3px solid #ffff;
  position: relative;
  margin-bottom: 20px;
  margin:30px;
  border-radius: 10px;

}





.fotoServico {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto; 

}

.servicoSingle h3 {
  display: flex;
  position: absolute;
  padding-bottom: 50px;
  font-size: 40px;
}

.fotoServico img {
  height: 300px;
  width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20%;
  border: 6px solid #ff5900;
  margin-top: 55px;
  margin-left: 80px
}
.textoServico {
  padding: 0 auto;
  color: white;
  font-weight: bold;
}