* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}


body {
  background-color: white;
  width: 100%;
  color: #ea5b0c;
}

.servicoSingle {
  display: flex;
  overflow: hidden;
  margin: 50px 80px;
  background-color: black;
  border-radius: 5px;
  width: 600px;
}

.textoServico {
  width: 30%;
  display: flex;
}

.fotoServico {
  width: 100%;
  display: inline-block;
  ;
}

.fotoServico img {
  height: 300px;
  width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20%;
  border: 6px solid #ea5b0c;

}